<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Cat World Detail</title>	
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</head>
	<body>
	<h2>Cat Detail</h2>
	<form id="catUpdateForm" th:action="@{/cat/catUpdate}" th:object="${catInfo}">
	<div class="catListTable">
			<table border="1">
				<colgroup>
					<col width="5%" />
					<col width="10%" />
					<col width="8%" />
					<col width="8%" />
					<col width="8%" />
					<col width="*" />
					<col width="10%" />
				</colgroup>
				<!-- 헤더 제목 부분 -->
				<thead align="center">
				<tr>
					<td>번호</td>
					<td>이름</td>
					<td>종</td>
					<td>나이</td>
					<td>성별</td>
					<td>소개</td>
					<td>가격</td>
				</tr>
				</thead>
				<tbody align="center">
					<tr>
						<td th:text="*{name}"></td>
						<td th:text="*{model}"></td>
						<td th:text="*{age}"></td>
						<td th:text="*{genderNm}"></td>
						<td th:text="*{content}"></td>
						<td th:text="*{price}"></td>
						
					</tr> 
				</tbody>
			</table>
		</div>
		<input type="button" id="mainBtn" value="메인" />
		<input type="button" id="RegistBtn" value="고양이 등록" />
	</form>
	
	<script>
		$('#mainBtn').on('click', function() {
			location.href = "/";
		});
		
		$('#RegistBtn').on('click', function() {
			location.href = "/cat/catRegistPage";
		});
		
	
	</script>
	
	</body>
</html>