<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cat">

	<insert id="insertMember" parameterType="CatVO">
	<![CDATA[
		INSERT 
		  INTO MEMBER
			   (
			    ID
			  , PASSWORD
			  , EMAIL
			 )
		VALUES (
			    #{id}
			  , #{password}
			  , #{email}
			 )
	]]>
	</insert>
	
	<select id="selectMember" parameterType="CatVO" resultType="CatVO">
		<![CDATA[
			SELECT ID
				 , PASSWORD
				 , EMAIL
			  FROM MEMBER
			 WHERE ID = #{id} 
		       AND PASSWORD = #{password}
		]]>
	</select>
	
	<insert id="insertCat" parameterType="CatVO">
	<![CDATA[
		INSERT 
		  INTO CAT
			   (
			    name
			  , model
			  , age
			  , gender
			  , content
			  , price
			  , regDate
			  , updateDate
			 )
		VALUES (
			    #{name}
			  , #{model}
			  , #{age}
			  , #{gender}
			  , #{content}
			  , #{price}
			  , NOW()
			  , NOW()
			 )
	]]>
	</insert>
	
	<select id="selectCatList" parameterType="CatVO" resultType="CatVO">
		<![CDATA[
			SELECT C.name
			     , C.model
			  	 , C.age
			  	 , CASE C.gender
			  	   WHEN 0 THEN '남자'
			  	   WHEN 1 THEN '여자'
			  	    END AS gender_nm
			  	 , C.content
			   	 , C.price
			  	 , C.regDate
			  	 , C.updateDate
			  FROM CAT C
		]]>
	</select>
<!--  
	<select id="" parameterType="" resultType="">
		<![CDATA[
			SELECT SERVICE_NO
				 , TYPE
				 , TITLE
				 , CONTENT
				 , REG_DATE
				 , UPDATE_DATE
				 , LOCATION
				 , JM_STATE
				 , PRICE
				 , ID
				 , CATEGORY
				 , RV_STATE
				 , CH_STATE
				 , SV_STATE
		 	  FROM MARKET
			 WHERE SERVICE_NO = #{serviceNo}
		]]>
	</select>
	  
	<update id="" parameterType="">
		UPDATE MARKET
		   SET TYPE = #{type}
			 , TITLE = #{title}
			 , CONTENT = #{content}
			 , LOCATION = #{location}
			 , JM_STATE = #{jmState}
			 , PRICE = #{price}
			 , CATEGORY = #{category}
			 , RV_STATE = #{rvState}
			 , CH_STATE = #{chState}
			 , SV_STATE = #{svState}
			 , UPDATE_DATE = NOW()
		 WHERE SERVICE_NO = #{serviceNo}
	</update>
	
	<delete id="" parameterType="">
		DELETE 
		  FROM MARKET
		 WHERE SERVICE_NO = #{serviceNo}
	</delete>
	  -->
</mapper>